.container {
  /* position: relative; */

  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  z-index: 1;
  border: 1px solid #272822;
  border-radius: 5px;
  background-color: #4e596d;
  padding: 1em;
}

.container > * {
  pointer-events: none;
}

.button {
  display: none;
  width: auto;
  /* visibility: hidden; */
}

.container:hover .button {
  display: block;
}

/* .container p {
  display: none;
  z-index: 0;
  width: 0px;
  height: 0px;
  transition: width 2s linear 1s;
}

.container:hover p {
  display: inline-block;
  position: sticky;
  left: 80%;
  bottom: 20%;

  width: auto;
  height: auto;
  min-width: 200px;
  max-width: 300px;
  min-height: 100px;
  max-height: 300px;
  z-index: 999;

  color: white;
  padding: 1em;
  word-wrap: break-word;
  background-color: #8895b9;
  border-radius: 10px;
  text-align: left;

  user-select: none;

  transition: display 0.5s ease-in-out, left 0.5s ease-in-out,
    bottom 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
} */
