.todo-header {
  display: flex;
  flex-shrink: 1;

  box-sizing: border-box;
  background: rgb(25, 32, 43);
  background: linear-gradient(
    0deg,
    rgba(25, 32, 43, 1) 0%,
    rgba(47, 60, 81, 1) 19%
  );

  /* min-width: 100vw; */
  width: 100%;
  min-height: 100px;
  max-height: 20%;
  max-width: 100%;

  padding: 1.5em;
}
